.jumbotron-mod{
    background: url("bg.jpg") no-repeat center center; 
    background-size: cover;

}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}


input[type=radio]{
  transform:scale(2);
}